@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: #121212;
}

@media (min-width: 550px) {
    .xs\:w-16 {
        width: 4rem
    }
    .xs\:h-16 {
        height: 4rem
    }
}

@media (min-width: 350px) {
    .xxs\:w-12 {
        width: 3rem
    }
    .xxs\:h-12 {
        height: 3rem
    }
	.xxs\:text-\[20px\] {
		font-size: 20px
	}
}



@keyframes enter-from-top {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}
	100% {
		opacity: 100;
		transform: translateY(0);
	}
}

@keyframes enter-from-bottom {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 100;
		transform: translateY(0);
	}
}

.modal-enter-active {
	animation: enter-from-top 1s;
}

.enter-bottom {
	animation: enter-from-bottom 1s;
}